python-dateutil==2.5.3
pymongo
configparser
pandas
simplejson
elasticsearch>=2.0.0,<3.0.0
unicodecsv
ipython
scikit-learn
scipy>=0.9
requests
flask
Flask-Cache
flask-classy
uwsgi
redis
redis-py-cluster
pylibmc
nltk
aiml
SpeechRecognition
pyttsx
pyjulius
pyaudio
monotonic
